[submodule "PID_AutoTune_v0"]
	path = PID_AutoTune_v0
	url = git@github.com:br3ttb/Arduino-PID-AutoTune-Library.git
[submodule "PID_v1"]
    path = PID_v1
    url = git@github.com:br3ttb/Arduino-PID-Library.git
[submodule "TinyGPS"]
	path = TinyGPS
	url = git@github.com:KevWal/TinyGPS.git
[submodule "xbee-arduino"]
	path = xbee-arduino
	url = git@github.com:tmitchell/xbee-arduino.git
[submodule "XBee"]
	path = XBee
	url = git@github.com:tmitchell/xbee-arduino.git
